*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar 
{
    display: flex;
    background-color: brown;
    align-items: center;
    height: 56px;

}

.logoBar img
{
    height: 56px;
    margin: 10px;
    margin-right: 10px;
}

.textobar
{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    width: 20%;
}

.linkBar 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20%;
    gap: 20px;
}

.linkBar button
{
    font-size: 14px;
    border: none;
    outline: none;
    background: none;
    padding: 1px;
    cursor: pointer;
}

span 
{
    color: #793300;
}

.inicio
{
    margin: 0px 46px;
    font-size: 17.5px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    box-sizing: border-box;
    padding: 56px 14px;
}

.primerTexto 
{
    margin-top: 70px;
    
}

.primerTexto h1
{
    font-size: 42px;
    margin: 0px 0px 21px;
}

.primerTexto p 
{
    margin: 0px 0px 28px;
    font-size: 17.5px;
}

.imagem img
{
    height: 80%;
    width: 80%;
    box-sizing: border-box;
    border-radius: 15px;
}

.imagem 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.botoes 
{
    display: flex;
    gap: 15px;
    padding: 10.5px 28px;
}

.botoes button 
{
    padding: 10.5px 28px;
    border-radius: 10px;
}

#botonEsquerda 
{
    background-color: #793300;
    border: none;
    color: white;
}

#botonDireita 
{
    border: 1px solid #793300;
    border-color: #793300;
}