*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar 
{
    display: flex;
    background-color: brown;
    align-items: center;
    height: 56px;

}

.logoBar img
{
    height: 56px;
    margin: 10px;
    margin-right: 10px;
}

.textobar
{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    width: 20%;
}

.linkBar 
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20%;
    gap: 40px;
}

.linkBar button
{
    font-size: 16px;
}

.inicio
{
    margin-top: 70px;
    font-size: 17.5px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.primerTexto 
{
    margin-top: 70px;
    
}

.primerTexto h1
{
    font-size: 31.5px;
    margin: 0px 0px 21px;
}

.primerTexto p 
{
    margin: 0px 0px 28px;
    font-size: 17.5px;
}

.imagem
{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
}

.botoes 
{
    display: flex;
    gap: 50px;
    padding: 10.5px 28px;
}